﻿@page
@model ARCADE.Pages.Genres.VeiksmocshtmlModel
@{
    ViewData["Title"] = "Veiksmo žaidimai";
}

@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <environment include="Development">
            <link rel="stylesheet" href="~/css/ProductGridView.css" />
        </environment>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veiksmo žaidimai</title>
    <link rel="stylesheet" href="~/css/login.css">
    </head>

    <body style="background-color:white">
        <h1>Veiksmo žaidimai</h1>
        @for (int i = 0; i < Model.zaidimai.Count / 4 + 1; i++)
        {
            <div style="display:inline-block;width:100%;table-layout:fixed;border-spacing:10px;">
            @{
                int rowLength = 4;
                @if (i * 4 + 4 > Model.zaidimai.Count)
                {
                    rowLength = Model.zaidimai.Count - i * 4;
                }
                @for (int j = 4 * i; j < i*4+rowLength; j++)
                {
                    <div style="display:table-cell;">
                        <div class="card">
                            <img src="@Url.Content(Model.zaidimai[j].Nuotrauka)">
                            @{
                                string name = Model.zaidimai[j].Pavadinimas;
                                if (name.Length > 20)
                                {
                                    name = string.Format(name.Substring(0, 20) + "...");
                                }

                                <h1 style="font-size:20px"> @name </h1>
                            }
                            @{
                                double price = Model.zaidimai[j].Kaina;
                                
                                <p class="price">
                                    @string.Format(String.Format("{0:0.00}", Model.zaidimai[j].Kaina))€
                                </p>
                            }


                            <p><button>Įdėti į krepšelį</button></p>
                        </div>
                    </div>
                }
            }
            </div>
        }

    </body>

    </html>
}

