﻿#comment-box{
    border: 1px solid black;
    height: 50px;
    width: 500px;
    border-radius: 5px;
}

#post {
    border: 1px solid black;
    height: 50px;
    width: 100px;
    border-radius: 7px;
    background-color: rgb(249, 255, 242);
}

    #post:hover {
        background-color: seashell;
    }
