﻿
div.menu-container {
    width: 800px;
    margin: 45px auto 0 auto;
}

.navbar-a2 {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Klasė skirta padaryti dropdown sąrašo elementų tekstus juodais*/
.droplist-item {
    color: black;
}

.dropdown-content {
    min-width: 160px;
    position: relative;
}

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        text-align: center;
        display: block;
    }



        .dropdown-content a:hover, .dropdown-content a:active {
            color: black;
            background: Gainsboro;
        }



    .dropdown-content ul {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-size: 15px;
        list-style-type: none;
        padding-left: 0;
        height: 0px;
        overflow: hidden;
        position: absolute;
        z-index: 99;
    }

.dropdown-content:hover ul {
    height: max-content;
}

    

div.home-container {
    clear: left;
}





