﻿.gamebox {
    border: 3px solid #eeeeee;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
}

.gametext {
    font-size: 20px;
    padding: 10px;
}

.gameimage {
    height: 200px;
    width: 200px;
    padding: 20px;
}

.gameimage2 {
    height: 200px;
    width: 300px;
    padding: 20px;
}
