﻿.newsarticle {
    border: 3px solid #eeeeee;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
}

.newstext{
    font-size: 20px;
    padding: 10px;
}

.newsimage {
    height: 200px;
    width: 200px;
    padding: 20px;
}

.newsimage2 {
    height: 200px;
    width: 300px;
    padding: 20px;
}