﻿.card {
    box-shadow: 0px 0px 8px 3px rgb(22 108 108 / 27%);
    width: 286.8px;
    height: 396px;
    padding-top: 22.6px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #222222;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 180px;
    height: 230px;
}

.card button:hover {
    opacity: 0.7;
}
