﻿

body {
    background-color: rgb(249, 255, 242);
}


.login {
    background-color: white;
    border-radius: 10px;
    padding: 45px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin-left: 300px;
}

.email {
    padding: 20px;
}

.password {
    padding: 20px;
}



input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type=submit] {
    border-radius: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.forgotPass {
    border-radius: 10px;
    height: 20px;
    width: 50%;
    margin-left: 115px;
}
