﻿@page
@model ARCADE.Pages.News.FirstNewModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naujienos</title>
    <link rel="stylesheet" href="~/css/news.css">
    <link rel="stylesheet" href="~/css/comment.css">
</head>
<body>

    <div class="newsarticle">
        <img class="newsimage" src="/images/rocket.jpg" alt="Rocket League">
        <div class="newstext">
            <h2>„Rocket League“ balso pokalbių funkcija grįžta</h2>
            <p>
                „Psyonix“ paskelbė, kad sugrąžins balso pokalbius į „Rocket League“ su atnaujinimu, kurį planuojama išleisti gegužės 9 d. Balso pokalbis buvo pašalintas iš „Rocket League“ po 2.04 atnaujinimo, išleisto 2021 m. rugsėjo 14 d. Pranešimas apie balso pokalbių sugrįžimą buvo paskelbtas oficiali „Rocket League“ „Twitter“ paskyra, susieta su tinklaraščio įrašu.Šios funkcijos žaidėjai labai prašė po to, kai „Psyonix“ pašalino ją iš žaidimo prieš šešis mėnesius
            </p>

            <p>
                Psyonix paaiškino, kaip veiks kiekvienas pokalbis ir kaip galėsite juos naudoti.
            </p>
            <p>
                <b>Vakarėlio pokalbis</b> – puikus būdas pasikalbėti su draugais! Žaidėjai, kuriems įjungtas balso pokalbis, pateks į vakarėlio balso kanalą, kai sukurs vakarėlį arba prisijungs prie jo. Žaidėjai galės bendrauti tiek rungtynių metu, tiek jų metu, nes ryšys tarp žaidimų išlieka.
            </p>
            <p>
                <b>Komandos pokalbis</b> – tiems, kurie nori pasikalbėti su savo komanda! Žaidėjai, turintys įjungtą balso pokalbį, pateks į komandos balso kanalą, kai prisijungs prie komandos rungtynėse. Šis ryšys nutrūks automatiškai, kai žaidimas baigsis, tada prasidės iš naujo, kai prisijungsite prie naujų rungtynių.
            </p>

            <p>
                <b>Balso įvestis / išvestis</b> – šios įrenginio parinktys yra prieinamos asmeniniame kompiuteryje ir leidžia grotuvams lengvai pakeisti garso šaltinius, nesvarbu, ar siūbuojate srautinio perdavimo mikrofoną, ar valdiklio ausines.
            </p>

            <p>
                <b>Balso pokalbių metodas</b> – „Open Mic“ yra numatytasis balso pokalbių nustatymas, kad žaidėjams nereikėtų spausti nereikalingų mygtukų bandant susisiekti, kai iš naujo nustatomi dvigubi apvertimai. Žaidėjai, kurie nori naudoti „Push-to-Talk“, gali tai įjungti meniu „Nustatymai“. Šie grotuvai turės susieti PTT mygtuką su tuo, kas jiems tinka iš skirtuko Valdikliai.
            </p>

            <p>
                <b>Nutildyti</b> – taip pat žinome, kad visi balso pokalbius naudoja skirtingais būdais, todėl žaidėjai taip pat galės nutildyti asmenis savo balso kanale. Tai galima padaryti pasirinkus jų vardus Balso pokalbių skirtuke ir pasirinkus Nutildyti.
            </p>


        </div>

    </div>

    <h3>
        Pridėti komentarą:
    </h3>

    <input type="text" id="comment-box" placeholder="Enter comment">
    <button id="post">Post</button>
    
    <ul id="unordered"><br /><h4>Komentarai:</h4>
    </ul>

    <script>
        var post = document.getElementById("post");
        post.addEventListener("click", function () {
            var commentBoxValue = document.getElementById("comment-box").value;
            
            var li = document.createElement("li");
            var text = document.createTextNode(commentBoxValue);
            li.appendChild(text);
            document.getElementById("unordered").appendChild(li);

        });
    </script>



</body>
</html>

