﻿@page
    @model ARCADE.Pages.News.MainNewsModel
    @{
    }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naujienos</title>
    <link rel="stylesheet" href="~/css/news.css">
</head>
<body>

    <div class="newsarticle">
        <img class="newsimage" src="/images/rocket.jpg" alt="Rocket League">
        <div class="newstext">
            <h2>„Rocket League“ balso pokalbių funkcija grįžta</h2>
            <p>
                Šios funkcijos žaidėjai labai prašė po to, kai „Psyonix“ pašalino ją iš žaidimo prieš šešis mėnesius
            </p>

            <a asp-page="/News/FirstNew" class="2">Skaityti daugiau</a>

        </div>
    </div>

    <div class="newsarticle">
        <img class="newsimage2" src="/images/rat.jpeg" alt="Rats">
        <div class="newstext">
            <h2>Mokslininkas išmokė savo augintines žiurkes žaisti Doom</h2>
            <p>
                Trys graužikai, pavadinti Carmack, Romero ir Tom originalių Doom kūrėjų vardu, turi bendrą supratimą, kaip žaisti Doom ir net reaguoti į netikėtas kliūtis.
            </p>

            <a asp-page="/News/SecondNew" class="2">Skaityti daugiau</a>

        </div>
    </div>

    <div class="newsarticle">
        <img class="newsimage" src="/images/cod.jpg" alt="CoD">
        <div class="newstext">
            <h2>CoD: Black Ops Cold War ką tik pridėjo naujų žemėlapių, SMG ir Operator</h2>
            <p>
                Į „Black Ops Cold War“ atkeliavo 2 nauji žemėlapiai
            </p>

            <a asp-page="/News/ThirdNew" class="2">Skaityti daugiau</a>

        </div>
    </div>

</body>
</html>


