﻿@page
@model ARCADE.Pages.News.SecondNewModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naujienos</title>
    <link rel="stylesheet" href="~/css/news.css">
    <link rel="stylesheet" href="~/css/comment.css">
</head>
<body>

    <div class="newsarticle">
        <img class="newsimage2" src="/images/rat.jpeg" alt="Rats">
        <div class="newstext">
            <h2>Mokslininkas išmokė savo augintines žiurkes žaisti Doom</h2>
            <p>
                Kaip rašo „The Daily Mail“, mokslininkas Viktoras Tothas pradėjo procesą, sukurdamas savo VR sąranką trims graužikams, taikliai pavadintiems Carmack, Romero ir Tom originalių „Doom“ kūrėjų vardu. Totas tai padarė pastatydamas žiurkes ant judančio kamuolio priešais savo kompiuterio ekraną, leisdamas joms žaisti Doom pirmuoju asmeniu. Trys žiurkės pradėjo treniruotis mažomis, žaisdamos tik žaidimus su ilgais koridoriais ir paprastais išdėstymais. Kai atrodė, kad jie jau įprato, Totas pristatė sudėtingesnius išdėstymus, užpildytus aklavietėmis ir atsitiktiniais posūkiais.

            <p>„Žiurkes galima išmokyti labai sudėtingų užduočių, ir aš norėjau išmokyti jas judėti teisinga žaidimo kryptimi, man nesikišant. Totas pasakė.</p>

            <p>Kai žiurkės sėkmingai naršo labirintus, Totas jas apdovanojo saldžiu vandeniu. Jei atrodė, kad žiurkės patiria stresą, Tothas sako, kad greitai nuėmė jas nuo kamuolio ir žaidė su jomis.</p>

            Po to, kai Carmackas, Romero ir Tomas buvo įpratę naršyti žaidime, Totas supažindino juos su ikoniniu Doom šautuvu. Nors iš pradžių jis planavo išmokyti žiurkes kandžioti vamzdelį, kad būtų galima šaudyti, jis atrado, kad išmokyti jas atlikti auginimo judesius – nors ir sudėtingiau – buvo veiksmingiau. Nužudęs demoną, Totas apdovanojo žiurkes vynuogėmis, bananais ir kitais saldžiais skanėstais, skatindamas būtybes sumedžioti ir nužudyti monstrus.
            </p>


        </div>
    </div>

    <h3>
        Pridėti komentarą:
    </h3>

    <input type="text" id="comment-box" placeholder="Enter comment">
    <button id="post">Post</button>

    <ul id="unordered">
        <br />
        <h4>Komentarai:</h4>
    </ul>

    <script>
        var post = document.getElementById("post");
        post.addEventListener("click", function () {
            var commentBoxValue = document.getElementById("comment-box").value;

            var li = document.createElement("li");
            var text = document.createTextNode(commentBoxValue);
            li.appendChild(text);
            document.getElementById("unordered").appendChild(li);

        });
    </script>

</body>
</html>


