﻿@page
@model ARCADE.Pages.News.ThirdNewModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naujienos</title>
    <link rel="stylesheet" href="~/css/news.css">
    <link rel="stylesheet" href="~/css/comment.css">
</head>
<body>



    <div class="newsarticle">
        <img class="newsimage" src="/images/cod.jpg" alt="CoD">
        <div class="newstext">
            <h2>CoD: Black Ops Cold War ką tik pridėjo naujų žemėlapių, SMG ir Operator</h2>
            <p>
                Naujausias Treyarch 2 metų turinio lašas atkeliavo į Call of Duty: Black Ops Cold War su gegužės 6 d. atnaujinimu, įnešdamas į žaidimą naują žemėlapį, ginklą ir operatorių.
            </p>

            <p>
                Kaip skelbta anksčiau, „Jungle“ žemėlapis dabar veikia „Black Ops Cold War“ metu. Jungle yra žemėlapis, sukurtas 2010 m. Call of Duty: Black Ops, ir jis prisijungia prie neseniai pridėtų MNG kaip dar vienas klasikinis žemėlapis, pridėtas 2 Black Ops šaltojo karo metams. Atnaujinimas taip pat prideda visą parą veikiantį mišrių žaidimo režimų grojaraštį „Jungle“.
            </p>


        </div>
    </div>

    <h3>
        Pridėti komentarą:
    </h3>

    <input type="text" id="comment-box" placeholder="Enter comment">
    <button id="post">Post</button>

    <ul id="unordered">
        <br />
        <h4>Komentarai:</h4>
    </ul>

    <script>
        var post = document.getElementById("post");
        post.addEventListener("click", function () {
            var commentBoxValue = document.getElementById("comment-box").value;

            var li = document.createElement("li");
            var text = document.createTextNode(commentBoxValue);
            li.appendChild(text);
            document.getElementById("unordered").appendChild(li);

        });
    </script>

</body>
</html>
