﻿@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemokami žaidimai</title>
    <link rel="stylesheet" href="~/css/news.css">
</head>
<body>

    <div class="newsarticle">
        <img class="newsimage" src="/images/lost ark.jpg" alt="Lost Ark">
        <div class="newstext">
            <h2>Lost Ark - Free to Play MMO</h2>
            <p>
                Pasinerkite į nuostabią Arkesijos istoriją. Išbandykite save kovoje, išmokite pritaikyti savo kovos stilių įvairiomis charakterių klasėms ir apsaugokite Arkos galią nuo tamsiųjų jėgų.
            </p>

            <a href="https://www.playlostark.com/en-us">Žaisti</a>

        </div>
    </div>

    <div class="newsarticle">
        <img class="newsimage2" src="/images/leagueoflegends.jpg" alt="League of Legends">
        <div class="newstext">
            <h2>League of Legends</h2>
            <p>
                League of Legends yra komandinis žaidimas, įkvėptas Warcraft III žemėlapio, ir dabar turintis jau net 140 skirtingų čempionų.
            </p>

            <a href="https://www.leagueoflegends.com/en-gb/">Žaisti</a>

        </div>
    </div>

    <div class="newsarticle">
        <img class="newsimage" src="/images/trove.jpg" alt="Trove">
        <div class="newstext">
            <h2>Trove: nuostabus MMO nuotykis</h2>
            <p>
                Dabar galima žaisti per Xbox One, Playstation 4, Mac ir PC!
            </p>

            <a href="https://www.trionworlds.com/trove/en/">Žaisti</a>

        </div>
    </div>

    <div class="newsarticle">
        <img class="newsimage" src="/images/unturned.webp" alt="Unturned">
        <div class="newstext">
            <h2>Unturned</h2>
            <p>
                Tu esi zombių užkrėstuose visuomenės griuvėsiuose ir turi dirbti su draugais bei kurti sąjungas, kad liktumei tarp gyvųjų.
            </p>

            <a href="https://store.steampowered.com/app/304930/Unturned/">Žaisti</a>

        </div>
    </div>

</body>
</html>


