﻿@page
@model ARCADE.Pages.Login.LogincshtmlModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisijungimas</title>
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<body>

    <div class="login">
        <form action="">
            <div class="logo">
                <a asp-page="/Index">
                    <img src="/images/logog_final_final.svg" alt="Logo" class="logo">
                </a>
            </div>

            <div class="email">
                <label for="email"><b>El. paštas</b></label>
                <input type="email" placeholder="Enter Email" name="uname" id="email" required>
            </div>

            <div class="password">
                <label for="psw"><b>Slaptažodis</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>

            <button type="submit">Prisijungti</button>
        </form>
        <button class="forgotPass">Pamiršau slaptažodį</button>

    </div>

</body>

</html>
