﻿@{
    /// <summary>
    /// Helper for marking active links in main menu.
    /// </summary>
    /// <param name="ctrl">Controller to look for.</param>
    /// <param name="act">Action to look for. Pass null if action does not matter.</param>
    /// <returns>If controller and (optionally) action match given ones returns "active". Returns empty string otherwise.</returns>
    string MarkActive(string ctrl, string act = null)
    {
        //get current controller and action
        var curCtrl = (string)ViewContext.RouteData.Values["Controller"];
        var curAct = (string)ViewContext.RouteData.Values["Action"];

        //compare to given ones
        if (curCtrl == ctrl && (act == null || curAct == act))
            return "active";
        return "";
    }
}

<script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ARCADE</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/DropdownGenres.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav">
                <a asp-page="/Index"><img class="navbar-brand" src="~/images/logog_final_final.svg" alt="Logotipas" /></a>
                <li><input type="text" placeholder="Paieška" /></li>
                <li><a asp-page="/Login/Login" class="navbar-a">Prisijungti</a></li>
                <li><a asp-page="/Register/Register" class="navbar-a">Registruotis</a></li>
                <li><a asp-page="/Cart/ShoppingCartMain"><img class="navbar-cart" src="~/images/cart-svgrepo-com.svg" alt="Krepšelis" /></a></li>
            </ul>
        </div>







        <div class="navbar-collapse collapse" id="navbar-color2">
            <div class="nav navbar-nav">

                @* not working link *@
                @*<li class="navbar-a2"><a href="@Url.Action("Index", "Zaidimas")" class="@MarkActive("Zaidimas") nav-link">Parduotuvė</a></li>*@
                <li><a asp-page="/Store/StoreMain" class="navbar-a2">Parduotuvė</a></li>
                <li><a asp-page="/News/MainNews" class="navbar-a2">Naujienos</a></li>

                <div class="dropdown-content">
                    <a asp-page="" class="navbar-a2">Žanrai</a>
                    <ul>
                        <li><a asp-page="/Genres/Siaubo" class="droplist-item">Siaubo</a></li>
                        <li><a asp-page="/Genres/Veiksmo" class="droplist-item">Veiksmo</a></li>
                        <li><a asp-page="/Genres/Nuotykiu" class="droplist-item">Nuotykių</a></li>
                        <li><a asp-page="/Genres/Lenktyniu" class="droplist-item">Lenktynių</a></li>
                        <li><a asp-page="/Genres/Vaidmenu" class="droplist-item">Vaidmenų</a></li>
                        <li><a asp-page="/Genres/Strateginiai" class="droplist-item">Strateginiai</a></li>
                        <li><a asp-page="/Genres/Sporto" class="droplist-item">Sporto</a></li>
                    </ul>
                </div>

                <div class="dropdown-content">
                    <a asp-page="" class="navbar-a2">Būklė</a>
                    <ul>
                        <li><a asp-page="/Conditions/Naujas" class="droplist-item">Naujas</a></li>
                        <li><a asp-page="/Conditions/KaipNaujas" class="droplist-item">Kaip naujas</a></li>
                        <li><a asp-page="/Conditions/Gera" class="droplist-item">Gera</a></li>
                        <li><a asp-page="/Conditions/Patenkinama" class="droplist-item">Patenkinama</a></li>
                    </ul>
                </div>

                <li><a asp-page="/Free games/Nemokami" class="navbar-a2">Nemokami žaidimai</a></li>
                @*<li><a asp-page="/Administrator/MyItems" class="navbar-a2">Administratorius</a></li>*@
            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2022 - ARCADE</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
