﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ARCADE</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav">
                <a asp-page="/Index"><img class="navbar-brand" src="~/images/logog_final_final.svg" alt="Logotipas" /></a>
                <li><input type="text" placeholder="Paieška" /></li>
                <li><a asp-page="/Login/Login" class="navbar-a">Prisijungti</a></li>
                <li><a class="navbar-a">Registruotis</a></li>
                <li><a><img class="navbar-cart" src="~/images/cart.svg" alt="Krepšelis" /></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-color2">
            <ul class="nav navbar-nav">
                <li><a asp-page="" class="navbar-a2">Parduotuvė</a></li>
                <li><a asp-page="" class="navbar-a2">Naujienos</a></li>
                <li><a asp-page="" class="navbar-a2">Žanras</a></li>
                <li><a asp-page="" class="navbar-a2">Būklė</a></li>
                <li><a asp-page="" class="navbar-a2">Nemokami žaidimai</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-color1">
            <ul class="nav navbar-nav">
                <li><a asp-page="" class="navbar-a2">Vartotojų kontrolė</a></li>
                <li><a asp-page="/Administrator/MyItems" class="navbar-a2">Mano Prekės</a></li>
                <li><a asp-page="" class="navbar-a2">Užsakymai</a></li>
                <li><a asp-page="" class="navbar-a2">Profilis</a></li>
            </ul>
        </div>
    </header>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2022 - ARCADE</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
