﻿@model ARCADE.ViewModels.ZaidimasListVM
@{
    ViewData["title"] = "Žaidimo šalinimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
    <span class="title">@ViewData["title"]</span>
    <span class="actions">
        <a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
    </span>
</div>

<div class="container-fluid d-flex justify-content-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fieldset class="border rounded shadow p-2">
            <legend class="text-center">Ar tikrai norite šalinti šį modelį?</legend>

            <dl>
                <dt>@Html.DisplayNameFor(m => m.Zaidimo_kodas)</dt>
                <dd>@Html.DisplayFor(m => m.Zaidimo_kodas)</dd>

                <dt>@Html.DisplayNameFor(m => m.Pavadinimas)</dt>
                <dd>@Html.DisplayFor(m => m.Pavadinimas)</dd>

                <dt>@Html.DisplayNameFor(m => m.Kaina)</dt>
                <dd>@Html.DisplayFor(m => m.Kaina)</dd>

                <dt>@Html.DisplayNameFor(m => m.Zanras)</dt>
                <dd>@Html.DisplayFor(m => m.Zanras)</dd>
            </dl>

            @if (ViewData["deletionNotPermitted"] != null)
            {
                <div class="alert alert-warning text-center">
                    <i class="fa-solid fa-circle-exclamation"></i> Žaidimo ištrinti negalima
                </div>
            }
            else
            {
                <div class="container-fluid d-flex d-row justify-content-end">
                    <button formaction="@Url.Action("DeleteConfirm", new {id = Model.Zaidimo_kodas})"
                            class="btn btn-danger"
                            style="white-space: nowrap;">
                        <i class="fa-solid fa-trash"></i> Šalinti
                    </button>
                </div>
            }
        </fieldset>
    }
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
    <span class="title"></span>
    <span class="actions">
        <a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
    </span>
</div>

