﻿@model IEnumerable<ARCADE.ViewModels.ZaidimasListVM>
@{
    ViewData["title"] = "Žaidimai";
}

<tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Paveikslelio_kelias)
        </td>
        <td>
            @Html.DisplayFor(m => item.Pavadinimas)
        </td>
    </tr>
    }
</tbody>


